# Include documentation files in source distribution
include LICENSE
include README.md
include pyproject.toml
include requirements-dev.txt
include .pyforge-deploy-cache/version_cache

# Include scripts
include scripts/setup.py


# Include Jinja2 templates
include src/pyforge_deploy/templates/*

# Include type stubs marker
include src/pyforge_deploy/py.typed

# Exclude development/test artifacts
prune .github
recursive-exclude tests/ *.py
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.egg-info
